<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "style.css" %}'>
    <title>Europa</title>
</head>
<body>
    <div class="center">
        <p>Europa</p>
        <div class="links">
            <a href="italia.html">Itália</a>
            <a href="espanha.html">Espanha</a>
            <a href="franca.html">França</a>
        </div>
    </div>
</body>
</html>