<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "style.css" %}'>
    <title>Europa</title>
</head>
<body>
    <div class="center">
        <div class="top">
            <i class="fa-solid fa-earth-europe"></i><h1 id="title">Europa</h1>
            <div class="navbar">
                <a class="button-country" href="italia.html">Itália</a>
                <a class="button-country"href="espanha.html">Espanha</a>
                <a class="button-country" href="franca.html">França</a>
                <a class="button-country"href="indexAM.html">America do Norte</a>
            </div>
        </div>
        <!-- <img id="cover" src='{% static "assets/mapa-europa.png" %}' alt=""> -->
    </div>
</body>
</html>