<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "style.css" %}'>
    <title>Itália</title>
</head>
<body>
    <div class="header">
        <img id="cover" src='{% static "assets/italia-band.png" %}' alt=""><h1>ITALIA</h1><img id="cover" src='{% static "assets/italia-band.png" %}' alt="">

    </div>
    <div class="main-center">
        <div class="main-left">
            <div class="text">Itália (em italiano: Italia [iˈtaːlja] (Sobre este somescutar?·info)), oficialmente República Italiana (em italiano: Repubblica Italiana), é uma república parlamentar unitária localizada no centro-sul da Europa. Ao norte, faz fronteira com França, Suíça, Áustria e Eslovênia ao longo dos Alpes. A parte sul consiste na totalidade da península Itálica, Sicília, Sardenha, as duas maiores ilhas no mar Mediterrâneo, e muitas outras ilhas menores ficam no entorno do território italiano.  O território do país abrange cerca de 301 338 km² e a maior parte do seu território tem um clima temperado sazonal. Com 60,8 milhões de habitantes em 2015, é a quinta nação mais populosa da Europa e a 23.ª do mundo.</div>
            <div class="text"> Roma, a capital italiana, foi durante séculos o centro político e religioso da civilização ocidental como capital do Império Romano e como sede da Santa Sé. Após o declínio do Império Romano, a Itália sofreu inúmeras invasões de povos estrangeiros, desde tribos germânicas, como os lombardos e ostrogodos, aos bizantinos e, mais tarde, os normandos, entre outros. </div> 
        </div>
        <div class="main-right">
            <img id="img-right" src='{% static "assets/italia.jpg" %}' alt="">
        </div>
    </div>
</body>
</html>