<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "style.css" %}'>
    <title>Canadá</title>
</head>
<body>
    <div class="header">
        <img id="cover" src='{% static "assets/canada.png" %}' alt=""><h1>CANADÁ</h1><img id="cover" src='{% static "assets/canada.png" %}' alt="">

    </div>
    <div class="main-center">
        <div class="main-left">
            <div class="text">O Canadá é uma federação composta por dez províncias e três territórios, uma democracia parlamentar e uma monarquia constitucional, com o rei Carlos III como chefe de Estado — um símbolo dos laços históricos do Canadá com o Reino Unido — sendo o governo dirigido por um primeiro-ministro, cargo ocupado atualmente (2023) por Justin Trudeau. É um país bilíngue e multicultural, com o inglês e o francês como línguas oficiais. É o segundo maior país do mundo em área total,[10] superado apenas pela Rússia, e a sua fronteira comum com os Estados Unidos, no sul e no noroeste, é a mais longa fronteira terrestre do mundo.</div>
            <div class="text">Um dos países mais desenvolvidos do mundo, o Canadá tem uma economia diversificada, dependente dos seus abundantes recursos naturais e do comércio, particularmente com os Estados Unidos, país com que o Canadá tem um relacionamento longo e complexo. É um membro do G7, do G20, da OTAN, da OCDE, da OMC, da Comunidade das Nações, da Francofonia, da OEA, da APEC e das Nações Unidas.</div> 
        </div>
        <div class="main-right">
            <img id="img-right" src='{% static "assets/toronto.jpg" %}' alt="">
        </div>
    </div>
</body> 
</html>