*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header{  
    height: 50px;
    display: grid;
    text-align: center;
    place-content: center;
}